logic-app-sender.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "body": {
                                "text": "@{items('For_each')?['message']?['content']}"
                            },
                            "headers": {
                                "content-type": "application/json"
                            },
                            "method": "POST",
                            "uri": "channel_webhook_url"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "foreach": "@body('Parse_JSON')?['choices']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initiate_Conv_with_ChatGPT": {
                "inputs": {
                    "body": {
                        "messages": [
                            {
                                "content": "your_prompt",
                                "role": "system"
                            }
                        ],
                        "model": "gpt-3.5-turbo",
                        "temperature": 0.8
                    },
                    "headers": {
                        "Authorization": "Bearer your_openai_token",
                        "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "uri": "https://api.openai.com/v1/chat/completions"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Initiate_Conv_with_ChatGPT')",
                    "schema": {
                        "properties": {
                            "choices": {
                                "items": {
                                    "properties": {
                                        "finish_reason": {
                                            "type": "string"
                                        },
                                        "index": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "properties": {
                                                "content": {
                                                    "type": "string"
                                                },
                                                "role": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "index",
                                        "message",
                                        "finish_reason"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "created": {
                                "type": "integer"
                            },
                            "id": {
                                "type": "string"
                            },
                            "model": {
                                "type": "string"
                            },
                            "object": {
                                "type": "string"
                            },
                            "usage": {
                                "properties": {
                                    "completion_tokens": {
                                        "type": "integer"
                                    },
                                    "prompt_tokens": {
                                        "type": "integer"
                                    },
                                    "total_tokens": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Initiate_Conv_with_ChatGPT": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "9"
                        ],
                        "weekDays": [
                            "Monday"
                        ]
                    }
                },
                "recurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "9"
                        ],
                        "weekDays": [
                            "Monday"
                        ]
                    }
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {}
}